<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/authentication/form"  method="post">
        <table>
            <tr>
                <th>用户名：</th>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <th>密码:</th>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <th>记住我：</th>
                <td><input type="checkbox" name="remember-me" value="true" checked="checked" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><button type="submit">登录</button></td>
            </tr>
        </table>
    </form>

</body>
</html>